@page "/events"

<h2>Събития</h2>

<div class="mb-3 d-flex gap-3 flex-wrap align-items-center">
    <input @bind="name" class="form-control" style="width: 19rem; height: 2.5rem" placeholder="Име" />
</div>
<div class="mb-3 d-flex gap-3 flex-wrap align-items-center">
    <input type="date" class="form-control" style="width: 9rem; height: 2.75rem" @bind="start" />
    <input type="date" class="form-control" style="width: 9rem; height: 2.75rem" @bind="end" />
</div>
<div class="mb-3 d-flex gap-3 flex-wrap align-items-center">
    <button class="btn btn-primary" style="width: 19rem; height: 2.75rem" @onclick="Create">Създай</button>
</div>

@if (!string.IsNullOrEmpty(errorMessage))
{
  <div class='alert alert-danger' py-2 px-3 mb-3>
    @errorMessage
  </div>
}

<ul>
    @foreach (var b in events)
    {
        <li>
            <h4>@b.Name</h4> (@b.StartDate → @b.EndDate)
            <div>
                @foreach (var d in b.Days.OrderBy(x => x.Date))
                {
                    @* <li><a href="@($"/day/{d.EventDayId}")">@d.Date</a></li> *@
                    <a href="@($"/day/{d.EventDayId}")" class="d-inline-block p-2 m-1 border rounded text-decoration-none">
                        <strong>@d.Date.ToString("dd dddd")</strong>
                    </a>
                }
            </div>
        </li>
    }
</ul>

@code {
    string name = $"Базар {DateOnly.FromDateTime(DateTime.Today)}";
    DateOnly start = DateOnly.FromDateTime(DateTime.Today);
    DateOnly end = DateOnly.FromDateTime(DateTime.Today);
    List<MySalesTracker.Data.Models.Event> events = new();
    string? errorMessage;

    protected override async Task OnInitializedAsync()
        => events = await EventSvc.GetAllEventsAsync();

    async Task Create()
    {
      
        var result = await EventSvc.CreateEventAsync(name, start, end);
        if (!result.Success)
        {
            errorMessage = result.ErrorMessage;
            return;
        }

        events.Insert(0, result.Event!);

        /*TODO: @IvayloK - replace the lines above if you need to reload all the events and keep the data updated on all the devices
        in cases where other users might have created events simultaneously*/
        //await EventSvc.CreateEventAsync(name, start, end);
        //events = await EventSvc.GetAllEventsAsync(); // Reload all events
        
        // Reset form
        name = $"Базар {DateOnly.FromDateTime(DateTime.Today)}";
        start = DateOnly.FromDateTime(DateTime.Today);
        end = DateOnly.FromDateTime(DateTime.Today);
        errorMessage = null;
    }
}
