@page "/events"
@attribute [Authorize]

@inject EventService EventSvc

<h2>Събития</h2>

<div class="mb-3 d-flex gap-3 flex-wrap align-items-center">
    <input @bind="name" class="form-control" style="width: 19rem; height: 2.5rem" placeholder="Име" />
</div>
<div class="mb-3 d-flex gap-3 flex-wrap align-items-center">
    <input type="date" class="form-control" style="width: 9rem; height: 2.75rem" @bind="start" />
    <input type="date" class="form-control" style="width: 9rem; height: 2.75rem" @bind="end" />
</div>
<div class="mb-3 d-flex gap-3 flex-wrap align-items-center">
    <button class="btn btn-primary" style="width: 19rem; height: 2.75rem" @onclick="Create">Създай</button>
</div>

@if (!string.IsNullOrEmpty(errorMessage))
{
  <div class='alert alert-danger py-2 px-3 mb-3'>
    @errorMessage
  </div>
}

<ul>
    @foreach (var b in events)
    {
        <li>
            <h4>@b.Name</h4> (@b.StartDate → @b.EndDate)
            <div class="mb-2">
                <a href="@($"/event/{b.EventId}/summary")" class="btn btn-outline-success btn-sm">Обща статистика</a>
            </div>
            <div>
                @* TODO: This OrderBy does not order the events by event date; it orders them by Event ID in the DB call that EF makes. *@
                @foreach (var d in b.Days.OrderBy(x => x.Date))
                {
                    @* <li><a href="@($"/day/{d.EventDayId}")">@d.Date</a></li> *@
                    <a href="@($"/day/{d.EventDayId}")"
                       class="d-inline-block p-2 m-1 border rounded text-decoration-none @(d.Date == today ? "current-day-highlight" : "")"
                       style="width: 4rem; text-align: center;">
                        <strong>@GetFormattedDate(d.Date)</strong>
                    </a>
                }
            </div>
        </li>
    }
</ul>

@code {
    string name = $"Базар {DateOnly.FromDateTime(DateTime.Today)}";
    DateOnly start = DateOnly.FromDateTime(DateTime.Today);
    DateOnly end = DateOnly.FromDateTime(DateTime.Today);
    List<Domain.Entities.Event> events = new();
    string? errorMessage;
    DateOnly today = DateOnly.FromDateTime(DateTime.Today);

    protected override async Task OnInitializedAsync()
        => events = await EventSvc.GetAllEventsAsync();

    async Task Create()
    {
      
        var result = await EventSvc.CreateEventAsync(name, start, end);
        if (!result.Success)
        {
            errorMessage = result.ErrorMessage;
            return;
        }

        events.Insert(0, result.Data!);

        /* TODO: @IvayloK - replace the lines above if you need to reload all the events and keep the data updated on all the devices
        in cases where other users might have created events simultaneously */
        //await EventSvc.CreateEventAsync(name, start, end);
        //events = await EventSvc.GetAllEAsyncvents(); // Reload all events
        
        // Reset form
        name = $"Базар {DateOnly.FromDateTime(DateTime.Today)}";
        start = DateOnly.FromDateTime(DateTime.Today);
        end = DateOnly.FromDateTime(DateTime.Today);
        errorMessage = null;
    }

    string GetFormattedDate(DateOnly date)
    {
        var dayOfWeek = date.DayOfWeek;
        var abbreviation = dayOfWeek switch
        {
            DayOfWeek.Monday => "пн",
            DayOfWeek.Tuesday => "вт",
            DayOfWeek.Wednesday => "ср",
            DayOfWeek.Thursday => "чт",
            DayOfWeek.Friday => "пт",
            DayOfWeek.Saturday => "сб",
            DayOfWeek.Sunday => "нд",
            _ => ""
        };
        return $"{date.Day:00} {abbreviation}";
    }
}
